.App {
  text-align: center;
}
.Title-Home {
  padding: 1em;
  text-align: center;
  margin: 0;
}

.ImgGiro {
  text-align: center;
}

.BackgoundMain {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Footer {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 10.1rem;
}

/* .Card:hover {
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
} */